<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://unpkg.zhimg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="https://unpkg.zhimg.com/element-ui/lib/theme-chalk/index.css">
    {% block head %} {% endblock %}
    <style>
        * {
            font-family: Roboto, sans-serif;
            color: #606266;
        }

        .header {
            background-color: lightcoral;
            color: white;
            font-size: 28px;
            text-align: center;
            height: 50px;
        }
    </style>
</head>
<body>
<div id="app">

    <el-container>
        <el-header>
            <el-row>
                <el-col :span="24">
                    <div class="header">
                        <el-link type="info">yy问答平台</el-link>
                    </div>
                </el-col>
            </el-row>
            <el-main>
                {% block vue_main %} {% endblock %}
            </el-main>
    </el-container>


    <el-row>
        <el-col :span="24"></el-col>
    </el-row>

</div>
<script>
    new Vue({
        el: "#app",
        data() {
            {% block vue_data %} {% endblock %}
        },
        methods: {
            {% block vue_methods %} {% endblock %}
        },
    });
</script>



{% block body %} {% endblock %}

</body>
</html>