{% extends "mine/base_mine.html" %}
{% block title %}登录{% endblock %}
{% block head %}{% endblock %}
{% block vue_main %}
    <el-row>
        <el-col :span="10" :offset="7">
            <el-form ref="form" :model="user" label-width="80px">
                <el-form-item label="登录名">
                    <el-input v-model="user.username" placeholder="请输入用户名"></el-input>
                </el-form-item>
                <el-form-item label="密码">
                    <el-input v-model="user.password" type="password" placeholder="请输入密码"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit">登录</el-button>
                    <el-link type="success" :href="'/register.html'">注册</el-link>
                </el-form-item>
            </el-form>
        </el-col>
    </el-row>

{% endblock %}
{% block vue_data %}
    const user= {
        username: "",
        password: "",
    },
{% endblock %}

{% block vue_methods %}
    onSubmit() {

    },
{% endblock %}
