<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://unpkg.zhimg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="https://unpkg.zhimg.com/element-ui/lib/theme-chalk/index.css">

    <style>
        * {
            font-family: Roboto, sans-serif;
            color: #606266;
        }
    </style>
</head>
<body>
<div id="app">


    <el-container>
        <el-main>
            <el-row>
                <el-col :span="10" :offset="7">
                    <el-form ref="registerForm" :model="user" label-width="80px" :rules="rules">
                        <el-form-item label="用户名" prop="username">
                            <el-input v-model="user.username"></el-input>
                        </el-form-item>
                        <el-form-item label="密码" prop="password">
                            <el-input v-model="user.password" type="password"
                                      placeholder="请输入密码"></el-input>
                        </el-form-item>
                        <el-form-item label="确认密码" prop="passwordRepeat">
                            <el-input v-model="user.passwordRepeat" type="password"
                                      placeholder="请再次输入密码"></el-input>
                        </el-form-item>
                        <el-form-item label="邮箱" prop="email">
                            <el-input v-model="user.email" placeholder="请输入邮箱地址"></el-input>
                            <el-button @click="sendVerificationCode">发送验证码</el-button>
                        </el-form-item>
                        <el-form-item label="验证码" prop="validateCode">
                            <el-input v-model="user.validateCode" placeholder="请输入验证码"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="onSubmit">注册</el-button>
                            <el-button @click="resetForm('registerForm')">重置</el-button>
                        </el-form-item>
                    </el-form>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</div>
</body>
<script>
    new Vue({
            el: "#app",
            data() {
                let checkPassword = (rule, value, callback) => {
                    if (value === '') {
                        callback(new Error('请输入密码'));
                    } else {
                        if (this.user.passwordRepeat !== '') {
                            this.$refs.registerForm.validateField('passwordRepeat');
                        }
                        callback();
                    }
                };
                let checkPasswordRepeat = (rule, value, callback) => {
                    if (value === '') {
                        callback(new Error('请再次输入密码'));
                    } else if (value !== this.user.password) {
                        callback(new Error('两次输入密码不一致!'));
                    } else {
                        callback();
                    }
                };
                const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
                let checkEmail = (rule, value, callback) => {
                    if (value === '') {
                        callback(new Error('请输入邮箱地址'));
                    } else if (!emailRegex.test(value)) {
                        callback(new Error('邮箱有误'));
                    } else {
                        callback();
                    }
                };
                return {
                    user: {
                        username: "",
                        password: "",
                        passwordRepeat: "",
                        email: "",
                        validateCode: ""
                    },
                    rules: {
                        username: [
                            {required: true, message: '请输入用户名称', trigger: 'blur'}
                        ],
                        password: [
                            {required: true, validator: checkPassword, trigger: 'blur'}
                        ],
                        passwordRepeat: [
                            {required: true, validator: checkPasswordRepeat, trigger: 'blur'}
                        ],
                        email: [
                            {required: true, validator: checkEmail, trigger: 'blur'}
                        ],
                        validateCode: [
                            {required: true, message: '请输入验证码', trigger: 'blur'}
                        ]
                    }
                };
            },
            methods: {
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                },
                sendVerificationCode() {

                },
                onSubmit() {

                },
            }
        }
    );
</script>
</html>